@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

.beer-card:hover {
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}

@include media-breakpoint-down(sm) {
  .beer-card-img {
    height: 15vh !important;
  }

  .beer-card{
    min-width: 10rem;
  }
}
